name: Tag and Release on Main

on:
  push:
    branches:
      - main

jobs:

  publish-package:
    uses: 'parkerstovall/workflows/.github/workflows/Publish_NPM.yaml@main'
    with:
      package_directory: '.'
    secrets:
      npm_token: ${{ secrets.NPM_AUTH_TOKEN }}

  update-main-app:
    if: ${{ needs.publish-package.outputs.created_tag == 'true' }}
    uses: 'parkerstovall/workflows/.github/workflows/Push_PackageUpdate.yaml@main'
    needs: publish-package
    with:
      package_directory: '.'
      repo: 'parkerstovall/parker-stovall.com'
      package_name: 'mustachio-game'
    secrets:
      repo_token: ${{ secrets.CROSS_REPO_TOKEN }}